.companies {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    &-items {
        padding: 8px 22px;
        border: 1px solid transparent;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
            border: 1px solid #052d56;

            opacity: 0.6;
        }
    }
}
@media (max-width: 600px) {
    .companies {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6px 6px;
        &-items {
            padding: 16px 22px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
@media (max-width: 400px) {
    .companies {
        display: grid;
        grid-template-columns: 1fr;
        gap: 6px 6px;
        &-items {
            padding: 16px 22px;
        }
    }
}
