.hero {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    &-content {
        max-width: 620px;
    }
    &-heading {
        font-weight: 800;
        font-size: 55px;
        letter-spacing: -4%;
        line-height: 75px;
        margin-top: 30px;
        margin-bottom: 33px;
    }
    &-desc {
        color: #81afdd;
        max-width: 554px;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 20px;
        line-height: 27.32px;
    }
    &-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 73px;
        overflow: hidden;
        border-radius: 6px;
        margin-bottom: 30px;
        & input {
            padding: 24px 32px;
            background-color: #052d56;
            color: #3d6184;
            height: 100%;
            font-size: 20px;
            flex: 1;
            border: none;
            outline: none;

            &::-ms-input-placeholder {
                color: #3d6184;
                font-size: 20px;
            }
            &::placeholder {
                color: #3d6184;
                font-size: 20px;
            }

            &:-ms-input-placeholder {
                color: #3d6184;
                font-size: 20px;
            }
        }
        & button {
            font-weight: 700;
            font-size: 20px;
            line-height: 27.32px;
            padding: 20px 26px;
            background-color: $orangeColor;
            border: none;
            outline: none;
            color: white;
            height: 100%;
            &:hover {
                opacity: 0.9;
            }
        }
    }
    &-people {
        display: flex;
        align-items: center;
        gap: 21px;
        &-content {
            color: white;
            font-size: 12px;
            font-weight: 500;
        }
    }
}

@media (max-width: 1117px) {
    .hero {
        grid-template-columns: 1fr;
        &-content {
            max-width: 100%;
        }
        &-heading {
            width: 70%;
        }
        &-form {
            width: fit-content;
        }
        &-desc {
            max-width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .hero {
        &-form {
            max-width: 100%;
        }
    }
}

@media (max-width: 400px) {
    .hero {
        &-heading {
            font-size: 34px;
            line-height: 1.5;
        }
        &-form {
            width: 100%;
            padding: 0;
            height: fit-content;
            & input {
                padding: 4px 12px;
                height: 50px;
                font-size: 12px;
                &::-ms-input-placeholder {
                    font-size: 14px;
                }
                &::placeholder {
                    font-size: 14px;
                }

                &:-ms-input-placeholder {
                    font-size: 14px;
                }
            }
            & button {
                padding: 4px 12px;
                height: 50px;
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 300px) {
    .hero {
        &-heading {
            font-size: 34px;
            line-height: 1.5;
        }
        &-form {
            width: 100%;
            padding: 0;
            height: fit-content;
            & input {
                padding: 4px 6px;
                height: 50px;
                font-size: 12px;
            }
            & button {
                display: inline-block;
                padding: 4px;
                height: 50px;
                font-size: 12px;
            }
        }
    }
}
