.register {
    margin: 155px 0px;
    border-radius: 11px;
    background: rgb(174, 103, 250);
    background: linear-gradient(
        85deg,
        rgba(174, 103, 250, 1) 0%,
        rgba(244, 152, 103, 1) 100%
    );
    padding: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
        color: #0e0e0e;
        & p {
            font-size: 12px;
        }
        & h3 {
            font-size: 24px;
            line-height: 45px;
        }
    }
    &-btn {
        padding: 16px 45px;
        background: black;
        color: white;
        border-radius: 40px;
        border: none;
        outline: none;
        border: 1px solid black;
        transition: all 0.2s linear;
        &:hover {
            color: black;
            background: white;
        }
    }
}

@media (max-width: 1000px) {
    .register {
        display: grid;
        grid-template-columns: 1fr;
        gap: 36px;
        &-btn {
            width: fit-content;
        }
    }
}
@media (max-width: 500px) {
    .register {
        padding: 24px;
        &-btn {
            width: 100%;
        }
    }
}
